@use 'sass:math';

$primary: #9AE19D;
$secondary:#777;
$background: #2C302E;
$error: #B4656F;

$spacings: (
  0: 0,
  1: math.div(2, $font-size-html) * 1rem,
  2: math.div(5, $font-size-html) * 1rem,
  3: math.div(10, $font-size-html) * 1rem,
  4: math.div(15, $font-size-html) * 1rem,
  5: math.div(25, $font-size-html) * 1rem,
  6: math.div(30, $font-size-html) * 1rem,
  7: math.div(45, $font-size-html) * 1rem,
  8: math.div(60, $font-size-html) * 1rem,
  10: math.div(80, $font-size-html) * 1rem
);

