@import '~@carbon/themes/scss/themes';

.d-f {
  display: flex;
}

.jc-fe{
  justify-content: flex-end;
}

.mt-4 {
  margin-top: $spacing-04;
}

.mt-6 {
  margin-top: $spacing-06;
}

.p-2 {
  padding: $spacing-02;
}

.p-4 {
  padding: $spacing-04;
}

.notification {
  position: absolute;
  top: 5%;
  right: 5%;
  transition: 0.3s;
  opacity: 0;

  &--opened {
    opacity: 1;
    transition: 0.3s;
  }
}
