@import '@carbon/themes/scss/themes';
@import '@carbon/colors/scss/colors';

.c-primary {
  color: $carbon--white-0;
}

.bc-transparent {
  background-color: transparent;
}

.mb-3 {
  margin-bottom: $spacing-03;
}

.mb-5 {
  margin-bottom: $spacing-05;
}

.mb-6 {
  margin-bottom: $spacing-06;
}

.mt-3 {
  margin-top: $spacing-03;
}

.mt-4 {
  margin-top: $spacing-04;
}

.mt-6 {
  margin-top: $spacing-06 !important;
}

.pt-13 {
  padding-top: $spacing-13;
}


.mr-5 {
  margin-right: $spacing-05;
}

.mr-5vw {
  margin-right: 5vw;
}


.mr-9 {
  margin-right: $spacing-09;
}

.mx-4 {
  margin-left: $spacing-04;
  margin-right: $spacing-04;
}

.d-f {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.jc-fe{
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.as-c {
  align-self: center;
}

.w-100p {
  width: 100%;
}

.p-2 {
  padding: $spacing-02;
}

.p-4 {
  padding: $spacing-04;
}

.notification {
  position: absolute;
  top: 5%;
  right: 5%;
  transition: 0.3s;
  opacity: 0;
  z-index: 20;

  &--opened {
    opacity: 1;
    transition: 0.3s;
  }
}

.bold {
  font-weight: 700;
}

.loading-small {
  height: 20px;
  width: 20px;
}

.c-danger {
  color: $danger;
}
