@import '@carbon/themes/scss/themes';
@import '@carbon/colors/scss/colors';

.c-primary {
  color: $carbon--white-0;
}

.bc-transparent {
  background-color: transparent;
}

.mb-5 {
  margin-bottom: $spacing-05;
}

.mb-6 {
  margin-bottom: $spacing-06;
}

.mt-4 {
  margin-top: $spacing-04;
}

.mt-6 {
  margin-top: $spacing-06;
}

.d-f {
  display: flex;
}

.jc-fe{
  justify-content: flex-end;
}
